{% load i18n %}
{% load staticfiles %}

<div class="field_table" id="{{field.id}}">
<table width="100%">
    <tr>
        <td class="field_name_col">{{ field.name }}</td>
        <td class="field_type_col">{{ field.field_type }}</td>
        <td class="field_command_col">{{ field.command }}</td>
        <td class="field_description_col">{{ field.help_text }}</td>

        <td class="field_options_col">
            <a class="glyphicon glyphicon-edit" onclick="editField(this);" href="javascript:void(0);" role="button"></a>&nbsp;&nbsp;
            <a class="glyphicon glyphicon-minus-sign" onclick="deleteField(this);" role="button"></a></br>
            <a id="save_{{field.pk}}" onclick="editField(this);" href="/xforms/{{xform.pk}}/field/{{field.pk}}/constraints/" role="button">
                  Rules <span class="badge">({{ field.constraints.all.count }})</span>
            </a>
        </td>
    </tr>
</table>
</div>
