{% load i18n %}
{% load staticfiles %}

<script language="javascript">
  $(document).ready(function() {
    // highlight the save button when changes are detected
    $("input,select").change(function() { 
        field_id = $(this).parents(".field_table").attr("id");
        $("#save_" + field_id).addClass("positive");
    });
  });
  
</script>

{% if field %}
<div class="edit_field">
<form class="form" action="/xforms/{{ xform.pk }}/edit_field/{{ field.pk }}/" method="post">
{% else %}
<div class="add_field_header">Add New Field</div>
<div class="add_field">
<form class="form" action="/xforms/{{ xform.pk }}/add_field/" method="post">
{% endif %}


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"></div>
  <div class="panel-body">
    <p>
                  {% if field %}
                  <a class="glyphicon glyphicon-floppy-remove" onclick="cancelField(this);" role="button">Cancel</a> &nbsp;&nbsp;
                  <a id="save_{{field.pk}}" class="glyphicon glyphicon-floppy-disk" onclick="saveField(this);" href="javascript:void(0);" id="save_{{field.pk}}">Save</a>


                  {% else %}
                  <a class="glyphicon glyphicon-thumbs-down" onclick="cancelAdd(this);" role="button">Cancel</a> &nbsp;&nbsp; 
                  <a id="save_{{field.pk}}" class="positive glyphicon glyphicon-plus-signk" onclick="saveField(this);" href="javascript:void(0);" id="save_{{field.pk}}">Save</a>             
                  {% endif %}
    </p>
  </div>
        <table class="table field_table" width="100%" id="{{field.pk}}">
            <tbody>
                <tr>
                <td class="field_name_col">
                  {% if field %}
                  
                  {% endif %} {{ form.name }} {{ form.name.errors}}</td>
                <td class="field_type_col">{{ form.field_type }} {{ form.field_type.errors }}</td>
                <td class="field_command_col">{{ form.command }} {{form.command.errors}}</td>
                <td class="field_description_col">{{ form.description }} {{ form.description.errors }}</td>
                <td class="field_options_col">
                  

                  </td>
                </tr>
            </tbody>
        </table>
  </div>
</form>

</div>
<!--div class="constraints_box" id="field_constraints_{{field.pk}}">

{% for constraint in constraints %}
	{{constraint.type}}
{% endfor %}
				


</div-->

